{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Login</title>

    <link rel="stylesheet"
          href="{% static 'style.css' %}">

</head>

<body>

{% include 'navbar.html' %}

<main class="centered">

    <h2>User Login</h2>

    <form id="loginForm" class="journal-form">

        <label>Username</label>

        <input
            type="text"
            id="username"
            required
        >

        <label>Password</label>

        <input
            type="password"
            id="password"
            required
        >

        <button type="submit">
            Login
        </button>

    </form>

    <p class="form-footnote">
        Don't have an account?
        <a href="{% url 'register' %}">
            Register
        </a>
    </p>

</main>

{% include 'footer.html' %}

<script src="{% static 'js/login.js' %}">
</script>

</body>

</html>
